* {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 200px;
}

img {
    width: 350px;
    height: 350px;
    border: 8px solid lightgray;
    z-index: 1;
}

.wrapper::before {
    content: "";
    position: absolute;
    border-left: 8px solid pink;
    border-right: 8px solid pink;
    width: 330px;
    height: 350px;
    transform: rotate(45deg);
    z-index: 0; 
}

.wrapper::after {
    content: "";
    position: absolute;
    border-top: 8px solid pink;
    border-bottom: 8px solid pink;
    width: 335px;
    height: 335px;
    transform: rotate(45deg);
    z-index: 1;
}